/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PREVENT UNWANTED SCROLLING */
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* MAIN CONTAINER */
.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* LEFT SECTION */
.left-container {
  flex: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container h2 {
  text-align: center;
  color: white;
  font-size: 60px;
  text-transform: uppercase;
}

/* RIGHT SECTION */
.right-container {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* LOGIN FORM */
.login-main-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-main-container input {
  padding: 15px;
}

/* COMPANY NAME (MOBILE VIEW) */
.company-name {
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 20px;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

/* BUTTON GROUP */
.btn-group button {
  padding: 5px 0;
  font-size: 15px;
  font-weight: 700;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .left-container {
    display: none;
  }

  .right-container {
    width: 100%;
  }

  .company-name {
    display: block;
  }
}
