
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.left-container{
    flex: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-container{
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-container h2{
    text-align: center;
    color: white;
    font-size: 60px;
    text-transform: uppercase;
}
.login-main-container{
    max-width: 400px !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.company-name{
    text-transform: uppercase;
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    display: none;
}
@media (max-width: 768px) {
  .left-container {
    display: none;
  }

  .right-container {
    width: 100% !important;
  }
  .company-name{
    display: block;
  }
}